<h1>Супер продолжай дальше</h1>

<h1>Фильмы</h1>
<ol>
  <a href="{% url 'cineboard:create_film' %}">Добавить фильм</a>
  {% for i in tv_lst %}
  <li>
    <h2>{{ i.title }}</h2>
    <p>{{ i.created_at }}</p>
    <p>{{ i.description }}</p>
     Теги:
        {% for tag in i.tags.all %}
          {{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% empty %}
          без тегов
        {% endfor %}<br>

     <h2>Комменты</h2>
    <ol>
  {% for comment in i.rating.all %}

  <li>
    <h3>{{ i.stars }}</h3>
    <p>{{ i.text }}</p>
  </li>

  {% endfor %}
</ol>
    <a href="#">Удалить фильм</a>
    <a href="#">Изменить фильм</a>
  </li>
  {% endfor %}
</ol>